@keyframes showTop {

    to {



    }

}

.signAllContent {

    animation: showTop .5s ease;
    height: calc(100% - 116px);
    display: flex;
    align-items: center;
    justify-content: center;

}

.loginContent {

    margin: 0 auto;
    width: min(400px, 90%);
    height: max-content;
    background-color: var(--bg);
    border-radius: 16px;
    box-shadow: 0 0 0 1px var(--shadow-5-color);
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

}

.formLogin {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    gap: 100px;

}

.textContent {

    margin-bottom: 2rem;
    width: min(500px, 100%);
    display: flex;
    flex-direction: column;
    gap:8px;

}

.textContent h1 {

    font-size: max(1.4rem, 1.6vw);
    hyphens: auto;
    font-weight: 400;
    word-break: keep-all;
    text-align: justify;

}

.textContent p {

    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    color: var(--shadow-7-color)

}

@media (min-width:768px) {

    .loginContent {

        width: min(500px, 90%);
        min-height: 60vh;

    }

}