.titleForm {

    font-size: 1.6rem;

}

.btnContent {

    position: absolute;
    right:16px;
    top:16px;
    z-index: 1;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:.4rem;

}

.editViewContent {

    position: absolute;
    right: 0;
    bottom:0;
    transform: translateY(110%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    padding:8px;
    background-color: var(--bg-3);
    border-radius:16px;

}

.editViewContent::before {

    position: absolute;
    right: 10px;
    clip-path: polygon(100% 100%, 50% 0%, 0% 100%);
    top:-8px;
    background-color: var(--bg-3);
    content: "";
    width: 8px;
    height: 8px;

}

.btnDrop {

    cursor: pointer;
    background: none;
    border: none;
    padding: 2px;
    border-radius: 8px;


}

.btnDrop svg  {

    stroke-width: .5;
    opacity: .5;

}

.btnDrop:hover {

    background: var(--hover);

}

.btn {

    cursor: pointer;
    appearance: none;
    border: none;
    color:var(--text-color);
    background: transparent;
    padding: 4px;
    border-radius: 8px;
    

}

.btn svg {

    stroke-width: .5;
    min-width: 28px;
    min-height: 28px;

}

.btn:hover {

    background-color: var(--hover);

}

.iconEditContent {

    position: relative;

}

.iconEditContent::after {

    content: "";
    opacity: .9;
    position: absolute;
    left: 50%;
    top: 0;
    border-radius: 8px;
    transform: rotate(-40deg);
    height: 90%;
    width: 2px;
    background-color: var(--text-color);

}

.viewModeContent {

    margin-top: 4rem;
    padding: 1rem;
    hyphens: auto;
    word-break: break-all;
    text-overflow: wrap;
    text-align: justify;
    max-width: min(900px, 90%);
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;

}

.descriptionTodoView {

    font-weight: 300;
    letter-spacing:4px;
    line-height: 1.5em;
    hyphens: auto;


}

.viewModeContent .btnContent {

    top:-30px;
}

.viewModeContent .btn:has(.penIcon) {

    visibility: hidden;

}


