@keyframes loading {

  to {

    width: 99%;

  }

}

.loading {

  animation: forwards .5s ease-in loading;
  position: absolute;
  left: 0;
  height: 5px;
  top:0;
  background: var(--secondary-color);

}


.page {

  height: calc(100% - 100px - 1rem);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}


.input {
  
  border-radius: 8px;
  appearance: none;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: none;

}

.homeTextContent {

  display: flex;
  gap: 1rem;
  align-items: center;
  width: min(700px, 90%);

}

.welcomeTitle {

  text-align: center;
  font-size: max(1.4rem, 2vw);
  flex: 1px 1 1;
  padding: 0 4px;
  letter-spacing: 2px;
  word-break: keep-all;
  hyphens: auto;
  line-height: 1.2em;
  font-weight: 400;

}


.introductionText {

  padding: 0 4px;
  position: relative;
  font-size: max(1rem, 1.2vw);
  text-align: justify;
  text-overflow: wrap;
  hyphens: auto;
  flex: 1px 1 1;
  height: 100%;
 
  letter-spacing: 2px;
  word-break: break-all;
  hyphens: auto;
  line-height: 1.2em;
  font-weight: 300;

}

.introductionText:before {

  position: absolute;
  top:50%;
  left: -8px;
  transform: translate(-50%, -50%);
  content:"";
  display: block;
  width: 7px;
  height: 90%;
  background-color: var(--primary-color);
  border-radius: 8px;

}

.linkCreate {

  margin-top: 3rem;
  color: var(--text-color-2);
  background: var(--btn-gradient);
  padding: 16px;
  min-height: 40px;
  min-width: 100px;
  border-radius: 8px;
  font-weight: 400;
  letter-spacing: 2px;
  box-shadow: 0 0 0 1px var(--shadow-5-color);
  font-size: 14px;

}

.linkCreate:hover {

  transform: scale(1.02);

}

